* {
    font-family: Roboto, 'Arial';
    margin:0px;
    padding:0px;
    font-size:18px;
}

body {
    display:flex;
    flex-direction: column;
    /* margin: 0px 60px; */
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display:flex;
    gap:16px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    /* Bandaid solution when making view width smaller */
    padding: 0px 256px;
    min-width: 640px;
    height:54px;
}

.header > p {
    font-size:24px;
    color: #F9FAF8;
    font-weight: bold;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap:32px;
    /* Bandaid solution when making view width smaller */
    padding: 90px 256px;
    min-width: 640px;
}

.content-right {
    align-self: stretch;
}

.content-right > img {
    object-fit: cover;
    width:30vw;
    height:100%;
    flex-shrink: 0;
    border-radius: 12px;
}

.content-left > :nth-child(1) {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content-left > :nth-child(2) {
    color: #E5E7EB;
    margin-top: 8px;
}

.content-left button {
    padding: 16px 32px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    margin-top:24px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Bandaid solution when making view width smaller */
    padding: 90px 256px;
    min-width: 640px;
}

.info > h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight:900px;
}

.info > p {
    font-size:12px;
    opacity: 50%;
    margin-bottom: 56px;
}

.crews-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:40px;
}

.crew {
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: center;
}

.crew > img,
.crew > p {
    width:300px;
}

.crew > p {
    opacity: 70%;
}

.crew span {
    font-weight: 900;
}

.quote-container {
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
    /* Bandaid solution when making view width smaller */
    padding: 90px 0px 90px 0px;
    min-width:1152px;
}

.quote {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:50%;
    /* Bandaid solution when making view width smaller */
    margin: 0px 256px;
    min-width: 640px;
}
.quote-actual {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
}

.call-to-action {
    background-color: #3882F6;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:64px;
    color:white;
    padding:32px 100px;
    border-radius: 8px;
    /* Bandaid solution when making view width smaller */
    margin: 90px 256px;
    min-width: 440px;
}

.call-left h1 {
    font-size: 24px;
    /* margin-bottom:2px; */
}

.call-left p {
    font-weight: 200;
}

.call-right button {
    background-color: transparent;
    border-color: white;
    color:white;
    padding: 4px 32px;
    border-radius: 8px;
    border-style: solid;
    font-weight: 700;
}

.footer {
    display:flex;
    background-color: #1F2937;
    justify-content: center;
    color: #E5E7EB;
    /* Bandaid solution when making view width smaller */
    padding: 32px 256px;
    min-width: 640px;
}